:root {
    --primaryColor: #509534;
    --white: #ffffff;
    --black: #161616;
    --textColor: #607447;
    --spacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--black);
    background: var(--white);
    font-family: 'Nunito', sans-serif;
}


@import 'navbar';
@import 'hero';
@import 'products';
@import 'cart';